.contactWrapper { 
    grid-column: 1 / span 10;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
  }
  
.contactText { 
    grid-column: 1 / span 3;
  }
  
.contactForm { 
  grid-column: 5 / span 7;
  display: flex;
  position: relative;
  }

.contactFormMain { 
  width: 75%;
  left:0;
  
}

.contactFormSend { 
  width: 20%;
  right:0;
  bottom: 0;
  position: absolute;
}

@media all and (max-width: 990px ) { 
    .contactText { 
        grid-column: 1 / span 10;
      }
    
    .contactForm { 
      grid-column: 1 / span 10;
    }
}
