
:root {
  --accent-color: #00E723;
  --short-transition: 200ms cubic-bezier(.1,.76,.49,.97);
  --background-color: #F7F8FA;
  --color: #000000;

  --light-background: #F7F8FA;
  --dark-background: #000000;
}

::selection { 
  background-color: var(--accent-color);
}

button { 
  background-color: transparent;
  border: none;
  padding: 0;
}

a { 
  transition: color var(--short-transition);
}

@media all and (min-width: 990px) { 
  a:hover { 
    color: var(--accent-color);
  }
}


@import url("https://use.typekit.net/aij1aqx.css");


@media all and (max-width: 990px ) { 
  html { 
    max-width: 100vw;
    
  }
}

html,
body { 
  font-size: 18px !important;
  font-family: 'neue-haas-grotesk-text', Helvetica;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--color);
  transition: color var(--short-transition), background-color var(--short-transition);
}

h1, h2, h3, h4 { 
  margin: 0;
  font-weight: normal;
}

ul, p { 
  margin: 0;
  padding: 0;
}

li { 
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.active-client,
.active-client + span {
  color: var(--background-color) !important;
}
.active-project {
  color: var(--accent-color) !important;
}

.navItem a { 
  cursor: pointer;
}
.navItem { 
  cursor: pointer;
  height: 22px;
  transition: color var(--short-transition);
}

.navItem:hover { 
  color: var(--accent-color);
}


.projectLink { 
  display: block;
  margin-top: 40px;
  color: var(--accent-color);
  overflow: hidden;
  position: relative;
  width: fit-content;
  padding-bottom: 4px;
}


/* Fade in */
.projectLink::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
  opacity: 1;
	background-color: var(--accent-color);
  overflow: hidden;
	transition: opacity var(--short-transition), transform var(--short-transition);
  transform: translate3d(-100%, 0, 0);
}

.projectLink:hover::after {
  transform: translate3d(0, 0, 0);
}


.form { 
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.form label { 
  margin-bottom: 8px;
  font-size: 14px;
}
.form input { 
  height: 35px;
  border: 1px solid var(--color);
  margin-bottom: 20px;
  width: 100%;
  font-size: 18px;
  padding-left: 10px;
  background-color: transparent;
  color: var(--color);
}

.form textarea { 
  width: 100%;
  height: 280px;
  border: 1px solid var(--color);
  padding-left: 10px;
  font-family: 'neue-haas-grotesk-text', Helvetica;
  background-color: transparent;
  font-size: 18px;
  color: var(--color);
  resize: none;
}

.form button { 
  cursor: pointer;
  font-size: 18px;
}

.form input:focus-visible,
.form textarea:focus-visible { 
  outline: 2px solid var(--accent-color);
}

.form-email { 
  width: 100%;
}

.heading { 
  margin-bottom: 80px;
}

.form-send-arrow { 
  margin: 0 0 1px 2px;
}



.mobileNavWrapper { 
  top: 60px;
  display: grid;
  grid-column: 1 / span 5;
  grid-template-columns: repeat(5, 1fr);
  display: grid;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--short-transition) 150ms, visibility var(--short-transition) 150ms;
}

.mobileNavWrapper.is-active { 
  opacity: 1;
  visibility: visible;
}

.Header_wrapper__jiYD5.is-active { 
  height: 165px;
  transition: height var(--short-transition);

}

.main-wrapper { 
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  margin-top: 200px;
  width: 100%;
}

.under-header {
  width: 100%;
  display: flex;
  margin-top: 180px;
  height: fit-content;
  
}

.left-side {
  width: 75px;
  float: left;
}

.right-side {
  width: -webkit-fill-available;
  float: right;
  padding-left: 75px;
}

.mobile-page-title { 
  display: none;
  margin-bottom: 30px;
  text-decoration: underline;
  width: 990px;
}

@media all and (max-width: 990px ) { 
  .main-wrapper { 
    margin-bottom: 30px;
    margin-top: 90px;
    min-height: calc( 100vh - 157px)
  }

  .navItem { 
    padding: 2px 0;
  }

  .form { 
    max-width: 100%;
  }

  .form textarea, .form input, .form-email { 
    width: auto !important;
  }

  .mobile-page-title { 
    display: flex;
  }
}


.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

@media all and ( min-width: 990px ) {
  .mobile-project-slideshow { 
    display: none;
  }
}

.mobile-project-slideshow {
  overflow: hidden;
  grid-column: 1 / span 10; 
  margin-top: 30px;
  min-height: 260px;
}

.swiper-slide img { 
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}
